<div *ngIf="CartItem.length > 0; else emptyCart">
    <div class="cart-container">
        <div class="cart-items" *ngFor="let items of CartItem">
            <div class="product-info">
                <div class="product-img">
                    <img [src]="items.processedImg" alt="product-img">
                </div>

                <div class="product-details">
                    <div class="items-row">
                        <div class="items-name" [ngClass]="{'highlight':items.highlighted}">
                            {{items.productName}}
                        </div>
                        <div class="item-price">{{items.price | currency}}</div>
                        <div class="quantity-controls">
                            <button mat-icon-button [disabled]="items.quantity==1">
                            <mat-icon>remove_circle_outline</mat-icon>
                            </button>
                            <span class="quantity">{{items.quantity}}</span>
                            <button mat-icon-button>
                                <mat-icon>add_circle_outline</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="total-price">
            Total Amount: {{order.totalAmount| currency}}
        </div>
        <div class="total-price">
            Amount: {{order.amount| currency}}
        </div>

        <div class="total-price" *ngIf="order.couponName!=null">
            Coupon Applied: {{order.couponName}}
        </div>

        <div>
            <button mat-raised-button color="primary">Place Order</button>
        </div>

    </div>

    <div class="container" *ngIf="order.couponName!=null">
        <form [formGroup]="couponForm" (ngSubmit)="applyCoupon()">
            <mat-form-field appearance="outline" class="form-field">
                <mat-label>code</mat-label>
                <input type="text" matInput placeholder="code" formControlName="code"/>
                <mat-error *ngIf="couponForm.get('code')?.hasError('required')">This input is required</mat-error>
            </mat-form-field>

            <button mat-raised-button color="primary">Apply Coupon</button>
        </form>
    </div>

</div>

<ng-template #emptyCart>
    <div class="empty-cart">
        <mat-icon class="icon">remove_shopping_cart</mat-icon>
        <span>Nothing to see here</span>
    </div>
</ng-template>