<mat-toolbar color="primary" class="navbar">
    <span class="navbar-brand">E-Commerce</span>    
    <div *ngIf="!isAdminLoggedIn && !isCustomerLoggedIn">
      <mat-toolbar color="primary" class="navbar">
        <span class="spacer"></span>
        <a mat-button routerLink="trackOrder" routerLinkActive="active" class="order">Track Order</a>
        <a mat-button routerLink="register" routerLinkActive="active" class="register">Register</a>
        <a mat-button routerLink="login" routerLinkActive="active" class="login">Login</a>
        <a mat-button routerLink="aregister" routerLinkActive="active" class="login">Post Add</a>
      </mat-toolbar>
    </div>
      
      
      <div *ngIf="isAdminLoggedIn">
        <mat-toolbar color="primary" class="navbar">
          <span class="spacer"></span>
          <button mat-button routerLink="/admin/dashboard" routerLinkActive="active">Dashboard</button>
          <button mat-button routerLink="/admin/analytics" routerLinkActive="active">Analtics</button>
          <button mat-button routerLink="/admin/category" routerLinkActive="active">Category</button>
          <button mat-button routerLink="/admin/product" routerLinkActive="active">Product</button>
          <button mat-button routerLink="/admin/orders" routerLinkActive="active">Orders</button>
          <button mat-button routerLink="/admin/postcoupons" routerLinkActive="active">PostCoupons</button>
          <button mat-button routerLink="/admin/coupons" routerLinkActive="active">Coupons</button>
          <button mat-button routerLinkActive="active" (click)="logout()">Logout</button>
        </mat-toolbar>
      </div>

      <div *ngIf="isCustomerLoggedIn">
        <mat-toolbar color="primary" class="navbar">
          <span class="spacer"></span>
          <button mat-button routerLink="/user-dashboard/dashboard" routerLinkActive="active">Dashboard</button>
          <button mat-button routerLink="/user-dashboard/cart" routerLinkActive="active">Cart</button>
          <button mat-button routerLink="/user-dashboard/my-order" routerLinkActive="active">Orders</button>
          <button mat-button routerLink="/user-dashboard/wishlist" routerLinkActive="active">Wishlist</button>
          <button mat-button routerLink="" routerLinkActive="active">Profile</button>
          <button mat-button routerLinkActive="active" (click)="logout()">Logout</button>
        </mat-toolbar>
      </div>
</mat-toolbar>

<router-outlet></router-outlet>